---
title: Home
---

<div class="container-outer first block-full d-flex justify-content-center align-items-center">
  <a href="mailto:aazuero1@swarthmore.edu" class="btn btn-main top-right">EMAIL</a>
  <div class="top-left text-md text-bold">
    <a href="/" class="link-main-header <%= "disabled" if I18n.locale.to_s == "en" %>">EN</a><a href="/es" class="link-main-header <%= "disabled" if I18n.locale.to_s == "es" %>">ES</a>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <div class="p-4">
          <h1 class="mt-4 mb-4"><%= t(:hero_title) %></h1>
          <p class="js-header">
            <a href="#" data-target="#bio" class="js-scroll-to link-main"><%= t(:link_bio) %></a>
            <a href="#" data-target="#publication-and-writing" class="js-scroll-to link-main"><%= t(:link_writing) %></a>
            <a href="#" data-target="#research" class="js-scroll-to link-main"><%= t(:link_research) %></a>
            <a href="https://drive.google.com/file/d/1EIuN6d6OgO-IJmnD55FFe3Ktfbho-iS2/view?usp=sharing" target="_blank" class="link-main"><%= t(:link_cv) %></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="bio" class="container-outer pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="section-header mb-3">
          <div class="divider"></div>
          <h1 class="title-section"><%= t(:title_bio) %></h1>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 d-md-none">
        <img src="/images/alejandra-azuero-quijano.jpg" class="w-100 mb-3">
      </div>
      <div class="col-md-6">
        <div class="block pe-3">
          <p class="mb-3"><%= t(:bio_copy) %></p>
        </div>
      </div>
      <div class="col-md-4 d-none d-md-flex">
        <img src="/images/alejandra-azuero-quijano.jpg" class="w-100">
      </div>
    </div>
  </div>
</div>
<div id="publication-and-writing" class="">
  <div class="container-outer">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="section-header mb-3">
            <div class="divider"></div>
            <h1 class="title-section mb-3"><%= t(:title_writing) %></h1>
          </div>

          <div class="bg-white p-4 mb-5">
            <div class="row">
              <div class="col-md-6">
                <img src="/images/el-paro-como-teoria.jpg" class="w-100">
              </div>
              <div class="col-md-6">
                <div class="block pe-3">
                  <div class="divider-sm"></div>
                  <h2 class="mb-1">El Paro Como Teoría</h2>
                  <p class="text-bold text-sm mb-3"><%= t(:book_publisher) %></p>
                  <p class="mb-3 text-md"><%= t(:book_blurb_1) %></p>
                  <p class="mb-3 text-md"><%= t(:book_blurb_2) %></p>
                  <p class="mb-4 text-md"><%= t(:book_blurb_3) %></p>
                  <div class="">
                    <a href="<%= t(:buy_link_1) %>" class="d-inline-block mt-2 btn btn-main text-uppercase me-1" target="_blank"><%= t(:buy_copy_1) %></a>
                    <% if t(:buy_link_2).present? %>
                      <a href="<%= t(:buy_link_2) %>" class="d-inline-block mt-2 btn btn-main text-uppercase" target="_blank"><%= t(:buy_copy_2) %></a>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="block pe-3">
                <div class="divider-sm"></div>
                <h2 class="mb-4 mb-3"><%= t(:title_writing_recent) %></h2>

                  <p class="mb-4">2023. <em><a href="https://herdereditorial.com/catalogo/filosofia/el-paro-como-teoria-9788425448232">El Paro como Teoría: Historia del
                  presente y estallido en Colombia</a></em>. Barcelona: Herder.</p>

                  <p class="mb-4">2023. <a href="https://culanth.org/fieldsights/ocupar-la-historia">“Ocupar la historia/Occupying
                  History”</a>, <em>Cultural Anthropology: Hotspots</em> (Online).</p>

                  <p class="mb-4">2023. <a href="https://culanth.org/fieldsights/series/left-of-power">“A la izquierda del poder/Left of
                  Power”</a> (with Emma Shaw Crane and Juan Pablo Vera).
                  <em>Cultural Anthropology: Hotspots</em> (Online).</p>

                  <p class="mb-4">2023.
                  <a href="/downloads/filosofia-and-co-2023.pdf">“Vivir sin miedo: hacia una política de la vida”</a>, (with María del Rosario Acosta López) <em>Filosofía & Co.</em>
                  No 4.</p>

                  <p class="mb-4">2021. <a href="https://direct.mit.edu/grey/article-abstract/doi/10.1162/grey_a_00316/97318/Making-the-World-Spectacle-Trial-Design-as">“Making the ‘World Spectacle Trial’:
                  Design as Forensic Practice at the Nuremberg Trials,”</a> <em>Grey
                  Room</em>, 82.</p>

                  <p class="mb-4">2021. <a href="https://books.google.com/books?hl=en&lr=&id=HkcgEAAAQBAJ&oi=fnd&pg=PT6&dq=alejandra+azuero+quijano&ots=AZQBP8UC2I&sig=zcltRPuWIr2PkJIEW_X1DL3e4YQ#v=onepage&q=alejandra%20azuero%20quijano&f=false">“Ambigüedad, Ficción e Ironía en
                  el Museo Forense”</a> [“Ambiguity, Fiction and Irony at the
                  Forensic Museum.”] In <em>La violencia y sus sombras en Colombia y
                  México</em> (M. Uribe and R. Parrini, eds.). Bogotá: Universidad del
                  Rosario.</p>

                  <p class="mb-4">2020. <a href="https://polarjournal.org/2020/11/24/inventories-insurgent-wealth-and-settling-accounts-in-post-agreement-colombia/">“Inventories, Insurgent Wealth, and
                  Settling Accounts in Post-Agreement Colombia,”</a> <em>Political and
                  Legal Anthropology Review: Emergent Conversations</em> (Online).</p>

                  <a href="/downloads/other-publications-<%= t(:older_publications_link) %>.pdf" class="btn btn-main"><%= t(:older_publications_copy) %></a>

              </div>
            </div>
            <div class="col">
              <div class="block pe-3">
                <div class="divider-sm"></div>
                <h2 class="mb-4 mb-3"><%= t(:title_writing_oped) %></h2>

                <p class="mb-4"><%= t(:oped_1) %></p>
                <p class="mb-4"><%= t(:oped_2) %></p>
                <p class="mb-4"><%= t(:oped_3) %></p>
                <p class="mb-4"><%= t(:oped_4) %></p>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div id="research">
  <div class="container-outer">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="section-header mb-3">
            <div class="divider"></div>
            <h1 class="title-section"><%= t(:title_research) %></h1>
          </div>

          <div class="row my-3 py-3">
            <div class="col-md-5 d-md-none">
              <img src="/images/forensics-of-design.jpg" class="w-100">
            </div>
            <div class="col-md-7 border-right-green">
              <div class="block ">
                <div class="divider-sm"></div>
                <h2 class="mb-1"><%= t(:forensics_of_finance_title) %></h2>
                <h3 class="mb-3 title"><%= t(:forensics_of_finance_sub_title) %></h3>
                <p class="mb-0 pe-md-4"><%= t(:forensics_of_finance_copy) %></p>
              </div>
            </div>
            <div class="col-md-5 d-none d-md-flex">
              <img src="/images/forensics-of-design.jpg" class="w-100">
            </div>
          </div>

          <div class="row my-3 py-3">
            <div class="col-md-5">
              <img src="/images/forensics-of-finance.jpg" class="w-100">
            </div>
            <div class="col-md-7 border-left-green">
              <div class="block ps-md-4">
                <div class="divider-sm"></div>
                <h2 class="mb-1"><%= t(:forensics_of_design_title) %></h2>
                <h3 class="mb-3 title"><%= t(:forensics_of_design_sub_title) %></h3>
                <p class="mb-0"><%= t(:forensics_of_design_copy) %></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center bg-grey p-5">
  <p class="text-sm mb-2">All content and photography © Alejandra Azuero-Quijano</p>
  <p class="text-xs mb-0"><a href="http://www.windandfog.com/?utm_source=alejandra" class="link-faded">Built by Wind &amp; Fog</a></p>
</div>
