---
title: Home
---

<div class="container-outer block-full d-flex justify-content-center align-items-center">
  <a href="mailto:alejandrazuero@gmail.com" class="btn btn-main top-right">EMAIL</a>
  <div class="top-left text-md text-bold">
    <a href="/" class="link-main-header <%= "disabled" if I18n.locale.to_s == "en" %>">EN</a><a href="/es" class="link-main-header <%= "disabled" if I18n.locale.to_s == "es" %>">ES</a>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <div class="p-4">
          <h1 class="mt-4 mb-4"><%= t(:hero_title) %></h1>
          <p class="js-header">
            <a href="#" data-target="#bio" class="js-scroll-to link-main"><%= t(:link_bio) %></a>
            <a href="#" data-target="#publication-and-writing" class="js-scroll-to link-main"><%= t(:link_writing) %></a>
            <a href="#" data-target="#research" class="js-scroll-to link-main"><%= t(:link_research) %></a>
            <a href="https://drive.google.com/file/d/1EIuN6d6OgO-IJmnD55FFe3Ktfbho-iS2/view?usp=sharing" target="_blank" class="link-main"><%= t(:link_cv) %></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="bio" class="container-outer bg-grey bordered-top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="section-header">
          <div class="divider"></div>
          <h1 class="title-section"><%= t(:title_bio) %></h1>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 d-md-none">
        <img src="/images/alejandra-azuero-quijano.jpg" class="w-100 mb-3">
      </div>
      <div class="col-md-6">
        <div class="block pe-3">
          <p class="mb-3"><%= t(:bio_copy) %></p>
        </div>
      </div>
      <div class="col-md-4 d-none d-md-flex">
        <img src="/images/alejandra-azuero-quijano.jpg" class="w-100">
      </div>
    </div>
  </div>
</div>
<div id="publication-and-writing" class="">
  <div class="container-outer">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="section-header">
            <div class="divider"></div>
            <h1 class="title-section"><%= t(:title_writing) %></h1>
          </div>

          <div class="bg-white p-4 mb-5">
            <div class="row">
              <div class="col-md-5">
                <img src="/images/el-paro-como-teoria.jpg" class="w-100">
              </div>
              <div class="col-md-7">
                <div class="block pe-3">
                  <div class="divider-sm"></div>
                  <h2 class="mb-1">El Paro Como Teoría</h2>
                  <p class="text-bold text-sm mb-3">AVAILABLE FEBRUARY 28, 2023</p>
                  <p class="mb-3 text-md"><%= t(:book_blurb_1) %></p>
                  <p class="mb-3 text-md"><%= t(:book_blurb_2) %></p>
                  <p class="mb-4 text-md"><%= t(:book_blurb_3) %></p>
                  <div class="">
                    <a href="https://books.google.com/books?id=2C6uEAAAQBAJ&pg=PP1&lpg=PP1&dq=alejandra+azuero+el+paro+como+teoria+herder+contrapunto&source=bl&ots=p32pV8MVJG&sig=ACfU3U0dcXPgPq0wvq0fRhTyO5FDGZEW-w&hl=en&sa=X&ved=2ahUKEwjJ95-m7Lb9AhVmF1kFHRIAAtkQ6AF6BAgrEAM#v=onepage&q=alejandra%20azuero%20el%20paro%20como%20teoria%20herder%20contrapunto&f=false" class="d-inline-block mt-2 btn btn-main text-uppercase me-1" target="_blank">Buy on Google Books</a>
                    <a href="https://www.amazon.com/paro-como-teor%C3%ADa-estallido-Contrapunto-ebook/dp/B0BVW6KN92/ref=sr_1_1?keywords=9788425448249&linkCode=qs&qid=1677577154&s=books&sr=1-1" class="d-inline-block mt-2 btn btn-main text-uppercase" target="_blank">Buy on Amazon US</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="block pe-3">
                <div class="divider-sm"></div>
                <h2 class="mb-4 mb-3"><%= t(:title_writing_recent) %></h2>
                <p class="mb-4"> <a href="https://polarjournal.org/2020/11/24/inventories-insurgent-wealth-and-settling-accounts-in-post-agreement-colombia/" target="_blank">“Inventories, Insurgent Wealth, and Settling Accounts in post-Agreement Colombia,”<em>Political and Legal Anthropology Review</em><span>&nbsp;(Online): Emergent Conversations.</span></a></p>
                <p class="mb-4">“Making the ‘World Spectacle Trial’: Design as Forensic Practice at the Nuremberg Trials,”<em>Grey Room</em><span>, 82:__.</span></p>
                <p class="mb-4">“Ambigüedad, Ficción e Ironía en el Museo Forense” [“Ambiguity, Fiction and Irony at the Forensic Museum.”] In<em>La Violencia y sus Sombras en Colombia y México</em><span>&nbsp;(M. Uribe and R. Parrini, eds.). Bogotá: Universidad del Rosario.</span></p>
                <p class="mb-4 pb-5">“Del Contexto a las Finanzas Paramilitares: Trayectoria de una Técnica Forense en Justicia y Paz” [“Genealogy of Context Analysis as Forensic Technique in Colombia’s ‘Justicia y Paz’ Trials”]. In<em>Justicia y Paz desde Otros Lenguajes: Una Mirada Retrospectiva</em><span>&nbsp;(M. Acosta and J. Acosta, eds.). Bogotá: Universidad de la Sabana.</span></p>
              </div>
            </div>
            <div class="col">
              <div class="block pe-3">
                <div class="divider-sm"></div>
                <h2 class="mb-4 mb-3">In Preparation</h2>

                <p class="mb-4"><span class="text-sm text-bold">(book manuscript)</span><br><span>Redesigning Crime: Remaking Criminal Liability at Nuremberg</span></p>
                <p class="mb-4">“Guilty Objects: FARC Finances and the Legal Fictions of Political Transition.”</p>
                <p class="mb-4">“From Conspiracy-as-Contract to the Mueller Investigation.”</p>
                <p class="mb-4"><span class="text-sm text-bold">(with Juana Dávila)</span><br><span>“El Contexto: Genealogía de una Tecnología Transicional”</span></p>
                <p class="mb-4"><span class="text-sm text-bold">(editora)</span><br><span>Laboratorios para la Transición: Perspectivas Críticas sobre Liberalismo Transicional en América Latina.</span></p>

                <p class="mb-0"><a href="/downloads/azuero-quijano-list-of-publications-2023.pdf" target="_blank" class="link-main text-sm mx-0">View past writings</a></p>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div id="research">
  <div class="container-outer bg-grey">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="section-header mb-3">
            <div class="divider"></div>
            <h1 class="title-section"><%= t(:title_research) %></h1>
          </div>

          <div class="row my-3 py-3">
            <div class="col-md-5 d-md-none">
              <img src="/images/forensics-of-design.jpg" class="w-100">
            </div>
            <div class="col-md-7 border-right-green">
              <div class="block ">
                <div class="divider-sm"></div>
                <h2 class="mb-4 mb-3"><%= t(:forensics_of_finance_title) %></h2>

                <p class="mb-0 pe-md-4"><%= t(:forensics_of_finance_copy) %></p>
              </div>
            </div>
            <div class="col-md-5 d-none d-md-flex">
              <img src="/images/forensics-of-design.jpg" class="w-100">
            </div>
          </div>

          <div class="row my-3 py-3">
            <div class="col-md-5">
              <img src="/images/forensics-of-finance.jpg" class="w-100">
            </div>
            <div class="col-md-7 border-left-green">
              <div class="block ps-md-4">
                <div class="divider-sm"></div>
                <h2 class="mb-4 mb-3"><%= t(:forensics_of_design_title) %></h2>
                <p class="mb-0"><%= t(:forensics_of_design_copy) %></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center bg-grey p-5">
  <p class="text-sm mb-2">All content and photography © Alejandra Azuero-Quijano</p>
  <p class="text-xs mb-0"><a href="http://www.windandfog.com/?utm_source=alejandra" class="link-faded">Built by Wind &amp; Fog</a></p>
</div>
